TF_STATE_BUCKET=maia-online-shoppers-tfstate-712986489191-us-east-1
TF_FOUNDATION_STATE_KEY=online-shoppers/dev/foundation.tfstate
TF_SERVICE_STATE_KEY=online-shoppers/dev/service.tfstate
DVC_S3_BUCKET=maia-online-shoppers-dvc-712986489191-us-east-1
DVC_S3_PREFIX=online-shoppers
CLOUD_AWS_REGION=us-east-1
CLOUD_OWNER=adrian-alarcon
LAB_ROLE_ARN=arn:aws:iam::712986489191:role/LabRole

MODEL_PATH=models/champion.joblib
MODEL_METADATA_PATH=models/model_metadata.json
ALLOWED_ORIGIN=http://localhost:3000
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
